body{
  margin: 0;
<<<<<<< HEAD
  font-family: 'Nova Flat', cursive;;
=======
>>>>>>> 4c39c191a74fd5724a40197e9296676ea61d00f2
}

html,
body{
  height: 100%;
<<<<<<< HEAD
  background-color: black;
=======
  font-family: 'Nova Flat', sans-serif;
>>>>>>> 4c39c191a74fd5724a40197e9296676ea61d00f2
}

.menu-link{
  text-decoration: none;
}

.text-center{
  text-align: center;
}

.full-w{
  width: 100%;
}

.container{
  padding-top: 120px;
}
<<<<<<< HEAD
span{
  margin-left: 1em;
}
=======
>>>>>>> 4c39c191a74fd5724a40197e9296676ea61d00f2
