body{
  margin: 0;
}

html,
body{
  height: 100%;
  font-family: 'Nova Flat', sans-serif;
}

.menu-link{
  text-decoration: none;
}

.text-center{
  text-align: center;
}

.full-w{
  width: 100%;
}

.container{
  padding-top: 120px;
}
